@import "compass";
@import "partials/mixins";
@import "partials/variables";
* {
  outline: none;
  box-sizing: border-box;
  list-style: none;
  @include zero;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background: {
    color: $darkBorder;
  }
  font: {
    size: $text;
    family: Arial, helvetica, sans-serif;
  }
  @include zero;
}

a {
  text-decoration: none;
}

a.button {
  padding: 8px;
  font-size: $text;
  border: 1px solid;
  @include border-radius($radius);
}

a.button.orange {
  @include buttonOrange;
}

a.button.white {
  @include buttonWhite;
}

input {
  @include input;
}

header {
  position: relative;
  z-index: 1000;
  width: 100%;
  margin-bottom: -70px;
  padding-top: 16px;
}

.subWrap {
  position: relative;
  max-width: 1440px;
  min-height: calc(100vh);
  background-color: white;
  @include auto;
}

.wrap {
  @include auto;
  width: 80%;
}

#toggle {
  display: none;
}


/* ----------- Navbar specific media ----------- */

@media #{$desktop} {
  nav {
    display: block;
    float: right;
    clear: both;
    ul {
      padding-top: 18px;
      li {
        display: block;
        float: left;
        padding: 0 0 8px 32px;
        border-bottom: 1px solid $transparentBorder;
        cursor: pointer;
        &:nth-child(1) {
          padding-left: 0px;
        }
        &:nth-child(6),
        &:nth-child(7) {
          border-bottom: none;
        }
        a {
          color: $lightParagraph;
          &:hover:not(.button) {
            color: $lightTitle;
            padding-bottom: 8px;
          }
        }
        a.active {
          color: $lightTitle;
          padding-bottom: 8px;
          border-bottom: 1px solid $lightTitle;
        }
      }
    }
  }
}

@media #{$mobile} {
  header {
    position: relative;
    background: $darkTitle;
    width: 100%;
    padding-top: 16px;
    margin: 0;
    a > img {
      width: 64px;
    }
  }
  #toggle {
    display: block;
    float: right;
    @include auto;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .menuIcon {
    position: relative;
    background: transparent;
    height: 16px;
    width: 16px;
    -webkit-appearance: initial;
    outline: none;
    top: .7rem;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 24px;
      height: 0.15em;
      margin: -8px 0 0 -5px;
      background: $lightTitle;
      box-shadow: 0 0.5em 0 0 $lightTitle, 0 1em 0 0 $lightTitle;
    }
  }
  #toggle:checked ~ nav ul {
    display: none;
  }
  nav {
    float: none;
    padding-top: 1rem;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      text-align: center;
      float: none;
      display: block;
      border-bottom: 1px solid $lightBorder;
      li {
        display: block;
        text-align: left;
        float: none;
        margin: 0;
        padding: 1.2em 0;
        border-top: 1px solid $transparentBorder;
        &:last-child {
          border-bottom: none;
        }
        a {
          color: $lightTitle;
        }
        a.active {
          color: $lightParagraph;
        }
      }
    }
  }
}


/* ----------- Navbar specific media End ----------- */


/* ----------- Hero Units Start ----------- */

.hero {
  background-image: url("../images/hero.png");
  @include bgFull;
  div {
    position: relative;
    padding: 185px 0;
    text-align: center;
    width: 80%;
    @include auto;
    &:before {
      content: "";
      position: absolute;
      @include transparentBorder;
      top: 30%;
      bottom: 32%;
      left: 18%;
      right: 18%;
    }
    &:after {
      content: "";
      position: absolute;
      @include transparentBorder;
      top: 26%;
      bottom: 28%;
      left: 20%;
      right: 20%;
    }
    h1 {
      color: $lightTitle;
      font-size: $title;
      font-weight: normal;
    }
    p {
      color: $lightParagraph;
      margin-top: 16px;
      @include paragraph;
    }
  }
}

.roomsHero {
  background-image: url("../images/rooms.png");
  @include bgFull;
  div {
    position: relative;
    padding: 95px 0 60px 0;
    width: 80%;
    @include auto;
    @media #{$mobile} {
      padding: 30px 0;
    }
    h1 {
      color: $lightTitle;
      font-size: $title;
      font-weight: normal;
    }
    nav {
      float: none;
    }
  }
}

.destinationHero {
  background-image: url("../images/destination.png");
  @include bgFull;
  div {
    position: relative;
    padding: 95px 0 30px 0;
    width: 80%;
    @include auto;
    @media #{$mobile} {
      padding: 30px 0;
    }
    h1 {
      color: $lightTitle;
      font-size: $title;
      font-weight: normal;
    }
  }
}


/* ----------- Hero Units End ----------- */


/* ----------- Content Start  ----------- */

.dates {
  position: relative;
  text-align: center;
  @include auto;
  input {
    @include input;
    margin: 16px 12px 16px 0;
    width: 20%;
  }
}

@media #{$mobile} {
  .dates input {
    display: inline-block;
    width: 80%;
    margin: 16px 16px 0 16px;
    &:nth-child(2) {
      margin-bottom: 24px;
    }
  }
  span {
    display: block;
    padding-bottom: 24px;
  }
}

.box {
  ul {
    display: flex;
    @include zero;
    @media #{$mobile} {
      flex-direction: column;
    }
    li {
      text-align: center;
      padding: 7rem 0 8.5rem 0;
      width: 33.3333333333%;
      @include all;
      @include bgFull;
      @media #{$mobile} {
        width: 100%;
      }
      &:nth-child(1) {
        background-image: url("../images/boxOne.png");
      }
      &:nth-child(2) {
        background-image: url("../images/boxTwo.png");
      }
      &:nth-child(3) {
        background-image: url("../images/boxThree.png");
      }
      h2 {
        color: $lightTitle;
        font-size: $subTitle;
        font-weight: normal;
      }
      p {
        color: $lightParagraph;
        padding: 16px 0;
        width: 80%;
        @include auto;
        @include paragraph;
      }
    }
  }
}

.roomsContent {
  display: flex;
  padding: 32px 0;
  @media #{$mobile} {
    flex-direction: column;
  }
  div {
    width: 50%;
    @media #{$mobile} {
      width: 100%;
    }
    img {
      width: 100%;
      height: auto;
    }
    &:first-child {
      padding: 0 16px 0 0;
      @media #{$mobile} {
        padding: 0;
      }
    }
    &:last-child {
      padding: 0 0 0 16px;
      @media #{$mobile} {
        padding: 32px 0 0 0;
      }
      h2 {
        font-size: $subTitle;
        color: $darkTitle;
        font-weight: normal;
      }
      p {
        @include paragraph;
        color: $darkParagraph;
        margin-top: 16px;
      }
      div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 16px 0;
        padding: 16px 0;
        border-top: 1px solid $lightBorder;
        border-bottom: 1px solid $lightBorder;
        h3 {
          font-size: $mediumText;
          color: $darkParagraph;
          font-weight: normal;
        }
      }
      ul li {
        color: $darkParagraph;
        margin: 0 0 16px 0;
      }
    }
  }
}

.destinationContentOne {
  display: flex;
  padding: 32px 0;
  @media #{$mobile} {
    flex-direction: column;
  }
  div {
    width: 50%;
    @media #{$mobile} {
      width: 100%;
    }
    img {
      width: 100%;
      height: auto;
    }
    &:first-child {
      padding: 0 16px 0 0;
      @media #{$mobile} {
        padding: 0;
      }
      h2 {
        font-size: $subTitle;
        color: $darkTitle;
        font-weight: normal;
      }
      p {
        @include paragraph;
        color: $darkParagraph;
        margin-top: 16px;
      }
    }
    &:last-child {
      padding: 0 0 0 16px;
      @media #{$mobile} {
        padding: 32px 0 0 0;
      }
    }
  }
}

#map {
  width: 100%;
  height: 400px;
  background-color: $darkBorder;
}

.destinationContentTwo {
  padding: 32px 0;
  h2{
    font-size: $subTitle;
    color: $darkTitle;
    font-weight: normal;
  }
  section {
    display: flex;
    @media #{$mobile} {
      flex-direction: column;
    }
    div {
      width: 33.33333333%;
      p {
        @include paragraph;
        color: $darkParagraph;
        margin-top: 16px;
      }
      &:nth-child(1){
        margin-right: 16px;
        @media #{$mobile} {
          margin:0;
        }
      }
      &:nth-child(2){
        margin:0 16px;
        @media #{$mobile} {
          margin: 16px 0 0 0;
        }
      }
      &:nth-child(3){
        margin-left: 16px;
        @media #{$mobile} {
          margin: 16px 0 0 0;
        }
      }
      @media #{$mobile} {
        width: 100%;
      }
    }
  }
}

/* Start Modal Video
================================================== */

#bgModalContact,
#modalContact,
#bgModalInfos,
#modalInfos {
  display: none;
  position: fixed;
}

#bgModalContact,
#bgModalInfos {
  width: 100%;
  height: 100%;
  background: rgba(10, 30, 60, 0.5);
  z-index: 2000;
}

#modalContact {
  z-index: 3000;
  background: white;
  padding: 32px;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -17.5%);
  width: 100%;
  max-width: 512px;
  @include border-radius($radius);
  h2 {
    font-size: $subTitle;
    color: $darkTitle;
    font-weight: normal;
    margin-bottom: 16px;
  }
  form {
    @include border-radius($radius);
    input {
      @include input;
      margin-bottom: 16px;
      &:nth-child(4){
        @include buttonOrange;
        width: auto;
        margin-bottom: 0;
      }
    }
    textarea {
      @include input;
      padding-bottom: 3rem;
      margin-bottom: 16px;
      max-height: none;
    }
  }
}

#modalInfos {
  z-index: 3000;
  background: white;
  padding: 32px;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -17.5%);
  width: 100%;
  max-width: 512px;
  @include border-radius($radius);
  h2 {
    font-size: $subTitle;
    color: $darkTitle;
    font-weight: normal;
    margin-bottom: 16px;
  }
  ul {
    @include zero;
    li {
      margin: 0 0 20px 0;
      &:last-child{
        margin: 0;
      }
      p {
        @include paragraph;
        color: $darkParagraph;
        a {
          color: $darkParagraph;
        }
      }
    }
  }
}


/* End Modal Video
================================================== */


/* ----------- Content End  ----------- */


/* ----------- Footer Start  ----------- */

footer {
  ul {
    display: flex;
    padding: 16px 0;
    border-top: 1px solid $lightBorder;
    border-bottom: 1px solid $lightBorder;
    li {
      width: 33.33333333%;
      p {
        font-size: $text;
        color: $darkParagraph;
      }
      &:nth-child(1) {
        text-align: left;
        p {
          margin-top: 5px;
        }
      }
      &:nth-child(2) {
        text-align: center;
      }
      &:nth-child(3) {
        text-align: right;
        p {
          display: inline-block;
          a {
            text-decoration: underline;
            color: $darkParagraph;
          }
        }
        div {
          display: inline-block;
        }
      }
    }
  }
  section {
    display: flex;
    justify-content: space-between;
    padding: 8px 0 0 0;
    section {
      &:first-child {
        zoom: .9;
      }
      &:last-child {
        zoom: .9;
      }
    }
  }
}

@media #{$mobile} {
  footer {
    ul {
      flex-direction: column;
      li {
        width: 100%;
        p {
          text-align: center;
        }
        &:nth-child(1) {
          text-align: center;
        }
        &:nth-child(2) {
          margin: 16px 0;
        }
        &:nth-child(3) {
          text-align: center;
          @include zero;
        }
      }
    }
    section {
      flex-direction: column;
      padding: 8px 0 0 0;
      @include auto;
    }
  }
}


/* ----------- Footer End ----------- */
