@import "compass";
@import "partials/mixins";
@import "partials/variables";

body{
  background:{
    color: white;
  }
  font:{
    size: 14px;
    family: Arial, helvetica, sans-serif;
  }
}

button{
  padding:8px;
  font: {
    size:14px;
  }
  @include border-radius(4px);
  border:{
    width: 1px;
    style: solid;
  }
  background: none;
}

input{
  @include border-radius(4px);
}
