@import "partials/variables";


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin buttonOrange {
  color: $orange;
  border-color: $lightOrange;
}

@mixin buttonWhite {
  color: $lightTitle;
  border-color: $transparentBorder;
}

@mixin zero {
  margin: 0;
  padding: 0;
}

@mixin auto {
    margin: 0 auto
}

@mixin transparentBorder {
  border: {
    width: 1px;
    style:solid;
    color:$transparentBorder;
  }
}

@mixin all  {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}


@mixin opacity  {
  transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
}

@mixin bgFull {
  background-size: cover;
  background-position: center;
}
