$lightTitle: white;
$lightParagraph: rgba(255, 255, 255, 0.8);
$darkTitle: #0A1E3C;
$darkParagraph: rgba(#0a1e3c, 0.8);
$orange: #EF4723;
$lightOrange: rgba(#ee4723, 0.3);
$transparentBorder: rgba(255, 255, 255, 0.3);
$lightBorder: rgba(#0a1e3c, 0.05);
$darkBorder: rgba(#0a1e3c, 0.1);
$overlay: rgba(#0a1e3c, 0.5);

$text: 14px;
$bigText: 18px;
$mediumText: 24px;
$subTitle: 30px;
$title: 36px;
$radius: 3px;

$mobile: "only screen and (max-width: 960px) ";
$desktop: "only screen and (min-width: 960px)";
