$lightTitle: white;
$lightParagraph: rgba(255, 255, 255, 0.7);
$darkTitle: #0A1E3C;
$darkParagraph: rgba(#0a1e3c, 0.7);
$orange: #EF4723;
$lightOrange: rgba(#ee4723, 0.25);
$transparentBorder: rgba(255, 255, 255, 0.25);
$lightBorder: rgba(#0a1e3c, 0.05);
$darkBorder: rgba(#0a1e3c, 0.1);
$overlay: rgba(#0a1e3c, 0.5);
