/* line 4, ../sass/style.scss */
* {
  outline: none;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/style.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 15, ../sass/style.scss */
body {
  background-color: rgba(10, 30, 60, 0.1);
  font-size: 14px;
  font-family: Arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* line 26, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 30, ../sass/style.scss */
a.button {
  padding: 8px;
  font-size: 14px;
  border: 1px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 37, ../sass/style.scss */
a.button.orange {
  color: #EF4723;
  border-color: rgba(238, 71, 35, 0.25);
}

/* line 41, ../sass/style.scss */
a.button.white {
  color: white;
  border-color: rgba(255, 255, 255, 0.25);
}

/* line 45, ../sass/style.scss */
input {
  padding: 8px;
  font-size: 14px;
  background: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  max-height: 34px;
}

/* line 53, ../sass/style.scss */
header {
  position: relative;
  z-index: 6000;
  width: 100%;
  margin-bottom: -70px;
  margin-top: 16px;
}

/* line 62, ../sass/style.scss */
.subWrap {
  position: relative;
  max-width: 1440px;
  min-height: calc(100vh);
  background-color: white;
  margin: 0 auto;
}

/* line 70, ../sass/style.scss */
.wrap {
  margin: 0 auto;
  width: 80%;
}

/* line 75, ../sass/style.scss */
#toggle {
  display: none;
}

/* ----------- Navbar specific media ----------- */
@media only screen and (min-width: 960px) {
  /* line 83, ../sass/style.scss */
  nav {
    display: block;
    float: right;
    clear: both;
  }
  /* line 87, ../sass/style.scss */
  nav ul {
    padding-top: 18px;
  }
  /* line 89, ../sass/style.scss */
  nav ul li {
    display: block;
    float: left;
    padding: 0 0 8px 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
  /* line 94, ../sass/style.scss */
  nav ul li:nth-child(1) {
    padding-left: 0px;
  }
  /* line 97, ../sass/style.scss */
  nav ul li:nth-child(6), nav ul li:nth-child(7) {
    border-bottom: none;
  }
  /* line 101, ../sass/style.scss */
  nav ul li a {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 103, ../sass/style.scss */
  nav ul li a:hover:not(.button) {
    color: white;
    padding-bottom: 8px;
  }
  /* line 108, ../sass/style.scss */
  nav ul li a.active {
    color: white;
    padding-bottom: 8px;
    border-bottom: 1px solid white;
  }
}
@media only screen and (max-width: 960px) {
  /* line 119, ../sass/style.scss */
  header {
    position: relative;
    background: #0A1E3C;
    width: 100%;
    padding-top: 16px;
    margin: 0;
  }
  /* line 125, ../sass/style.scss */
  header a > img {
    width: 64px;
  }

  /* line 129, ../sass/style.scss */
  #toggle {
    display: block;
    float: right;
    margin: 0 auto;
    border: 1px solid transparent;
    cursor: pointer;
  }

  /* line 136, ../sass/style.scss */
  .menuIcon {
    position: relative;
    background: transparent;
    height: 16px;
    width: 16px;
    -webkit-appearance: initial;
    outline: none;
    top: .7rem;
  }
  /* line 144, ../sass/style.scss */
  .menuIcon:after {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 0.15em;
    margin: -8px 0 0 -5px;
    background: white;
    box-shadow: 0 0.5em 0 0 white, 0 1em 0 0 white;
  }

  /* line 155, ../sass/style.scss */
  #toggle:checked ~ nav ul {
    display: none;
  }

  /* line 158, ../sass/style.scss */
  nav {
    float: none;
    padding-top: 1rem;
  }
  /* line 161, ../sass/style.scss */
  nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    float: none;
    display: block;
    border-bottom: 1px solid rgba(10, 30, 60, 0.05);
  }
  /* line 169, ../sass/style.scss */
  nav ul li {
    display: block;
    text-align: left;
    float: none;
    margin: 0;
    padding: 1.2em 0;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
  }
  /* line 176, ../sass/style.scss */
  nav ul li:last-child {
    border-bottom: none;
  }
  /* line 179, ../sass/style.scss */
  nav ul li a {
    color: white;
  }
  /* line 182, ../sass/style.scss */
  nav ul li a.active {
    color: rgba(255, 255, 255, 0.7);
  }
}
/* ----------- Navbar specific media End ----------- */
/* line 193, ../sass/style.scss */
.hero {
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: center;
}
/* line 196, ../sass/style.scss */
.hero div {
  position: relative;
  padding: 185px 0;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
/* line 202, ../sass/style.scss */
.hero div:before {
  content: "";
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.25);
  top: 30%;
  bottom: 32%;
  left: 18%;
  right: 18%;
}
/* line 211, ../sass/style.scss */
.hero div:after {
  content: "";
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.25);
  top: 26%;
  bottom: 28%;
  left: 20%;
  right: 20%;
}
/* line 220, ../sass/style.scss */
.hero div h1 {
  color: white;
  font-size: 36px;
  font-weight: normal;
}
/* line 225, ../sass/style.scss */
.hero div p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  line-height: 26px;
}

/* line 233, ../sass/style.scss */
.dates {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
/* line 237, ../sass/style.scss */
.dates input {
  border: 1px solid rgba(10, 30, 60, 0.1);
  margin: 16px 12px 16px 0;
  width: 20%;
}

/* ----------- dates specific media  ----------- */
@media only screen and (max-width: 960px) {
  /* line 248, ../sass/style.scss */
  .dates input {
    display: inline-block;
    width: 80%;
    margin: 16px 16px 0 16px;
  }
  /* line 252, ../sass/style.scss */
  .dates input:nth-child(2) {
    margin-bottom: 24px;
  }

  /* line 256, ../sass/style.scss */
  span {
    display: block;
    padding-bottom: 24px;
  }
}
/* ----------- dates specific media end ----------- */
/* line 266, ../sass/style.scss */
.box ul {
  display: flex;
  margin: 0;
  padding: 0;
}
/* line 269, ../sass/style.scss */
.box ul li {
  text-align: center;
  padding: 7rem 0 8.5rem 0;
  width: 33.3333333333%;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  background-size: cover;
  background-position: center;
}
/* line 275, ../sass/style.scss */
.box ul li:nth-child(1) {
  background-image: url("../images/boxOne.png");
}
/* line 278, ../sass/style.scss */
.box ul li:nth-child(2) {
  background-image: url("../images/boxTwo.png");
}
/* line 281, ../sass/style.scss */
.box ul li:nth-child(3) {
  background-image: url("../images/boxThree.png");
}
/* line 284, ../sass/style.scss */
.box ul li h2 {
  color: white;
  font-size: 30px;
  font-weight: normal;
}
/* line 289, ../sass/style.scss */
.box ul li p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  padding-bottom: 16px;
  line-height: 26px;
  width: 80%;
  margin: 0 auto;
}

/* ----------- box specific media  ----------- */
@media only screen and (max-width: 960px) {
  /* line 305, ../sass/style.scss */
  .box ul {
    flex-direction: column;
  }
  /* line 307, ../sass/style.scss */
  .box ul li {
    width: 100%;
  }
}
/* ----------- box specific media end ----------- */
/* line 317, ../sass/style.scss */
footer ul {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid rgba(10, 30, 60, 0.1);
}
/* line 321, ../sass/style.scss */
footer ul li {
  width: 33.33333333%;
}
/* line 323, ../sass/style.scss */
footer ul li p {
  font-size: 14px;
  color: rgba(10, 30, 60, 0.7);
}
/* line 327, ../sass/style.scss */
footer ul li:nth-child(1) {
  text-align: left;
}
/* line 329, ../sass/style.scss */
footer ul li:nth-child(1) p {
  margin-top: 5px;
}
/* line 333, ../sass/style.scss */
footer ul li:nth-child(2) {
  text-align: center;
}
/* line 336, ../sass/style.scss */
footer ul li:nth-child(3) {
  text-align: right;
}
/* line 338, ../sass/style.scss */
footer ul li:nth-child(3) p {
  display: inline-block;
}
/* line 340, ../sass/style.scss */
footer ul li:nth-child(3) p a {
  text-decoration: underline;
  color: rgba(10, 30, 60, 0.7);
}
/* line 345, ../sass/style.scss */
footer ul li:nth-child(3) div {
  display: inline-block;
}
/* line 351, ../sass/style.scss */
footer section {
  display: flex;
  justify-content: space-between;
  padding: 8px 0 0 0;
}
/* line 356, ../sass/style.scss */
footer section section:first-child {
  zoom: .9;
}
/* line 359, ../sass/style.scss */
footer section section:last-child {
  zoom: .9;
}

/* ----------- footer specific media  ----------- */
@media only screen and (max-width: 960px) {
  /* line 370, ../sass/style.scss */
  footer ul {
    flex-direction: column;
  }
  /* line 372, ../sass/style.scss */
  footer ul li {
    width: 100%;
  }
  /* line 374, ../sass/style.scss */
  footer ul li p {
    text-align: center;
  }
  /* line 377, ../sass/style.scss */
  footer ul li:nth-child(1) {
    text-align: center;
  }
  /* line 380, ../sass/style.scss */
  footer ul li:nth-child(2) {
    margin: 16px 0;
  }
  /* line 383, ../sass/style.scss */
  footer ul li:nth-child(3) {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  /* line 389, ../sass/style.scss */
  footer section {
    flex-direction: column;
    padding: 8px 0 0 0;
    margin: 0 auto;
  }
}
/* ----------- footer specific media end  ----------- */
